rootcolor=0x{{dark-background}}ff
bordercolor=0x{{invisible}}ff
focuscolor=0x{{main-cursor}}ff
urgentcolor=0x{{bright-orange}}ff
maximizescreencolor=0x{{bright-violet}}ff

shadowscolor=0x{{dark-background}}ff
