{
  "dark": {
    "mPrimary": "#{{main-cursor}}",
    "mOnPrimary": "#{{dark-background}}",
    "mSecondary": "#{{aqua}}",
    "mOnSecondary": "#{{dark-background}}",
    "mTertiary": "#{{violet}}",
    "mOnTertiary": "#{{dark-background}}",
    "mError": "#{{red}}",
    "mOnError": "#{{dark-background}}",
    "mSurface": "#{{background}}",
    "mOnSurface": "#{{foreground}}",
    "mSurfaceVariant": "#{{other-highlight}}",
    "mOnSurfaceVariant": "#{{dark-foreground}}",
    "mOutline": "#{{comment}}",
    "mShadow": "#{{dark-background}}",
    "mHover": "#{{main-highlight}}",
    "mOnHover": "#{{foreground}}",

    "terminal": {
      "background": "#{{dark-background}}",
      "foreground": "#{{foreground}}",
      "cursor": "#{{main-cursor}}",
      "selectionBg": "#{{main-selection}}",
      "normal": {
        "black": "#{{background}}",
        "red": "#{{red}}",
        "green": "#{{green}}",
        "yellow": "#{{yellow}}",
        "blue": "#{{blue}}",
        "magenta": "#{{magenta}}",
        "cyan": "#{{cyan}}",
        "white": "#{{dark-foreground}}"
      },
      "bright": {
        "black": "#{{invisible}}",
        "red": "#{{bright-red}}",
        "green": "#{{bright-green}}",
        "yellow": "#{{bright-yellow}}",
        "blue": "#{{bright-blue}}",
        "magenta": "#{{bright-magenta}}",
        "cyan": "#{{bright-cyan}}",
        "white": "#{{foreground}}"
      }
    }
  }
}
