input {
    keyboard {
        xkb {
            layout "br,us"
            model "thinkpad"
            options "caps:escape_shifted_capslock,grp:win_space_toggle"
        }
        repeat-delay 200
        repeat-rate 60
        numlock
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.4
        scroll-method "two-finger"
        click-method "clickfinger"
    }
    warp-mouse-to-focus mode="center-xy-always"
}
output "eDP-1" {
    mode "1366x768"
}
environment {
    NIXOS_OZONE_WL "1"
}
overview {
    backdrop-color "#060810"
}
layout {
    background-color "#121622"
    gaps 10
    focus-ring {
        width 1
        active-color "#f4dbe2"
        urgent-color "#f5b3a7"
    }
    border {
        off
    }
    shadow {
        on
        spread 25
        softness 25
    }
    tab-indicator {
        width 3
    }
    struts {
        left 11
        right 11
    }
}
prefer-no-csd
hotkey-overlay {
    hide-not-bound
    skip-at-startup
}
gestures {
    hot-corners {
        off
    }
}
binds {
    Super+End hotkey-overlay-title="Suspend session" repeat=false {
        suspend
    }
    Super+Shift+End hotkey-overlay-title="Quit session" repeat=false {
        quit
    }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Toggle microphone" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Toggle volume" {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Decrease volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"
    }
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Increase volume" {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"
    }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease brightness" {
        spawn "brightnessctl" "set" "1%-"
    }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Increase brightness" {
        spawn "brightnessctl" "set" "1%+"
    }
    Print repeat=false {
        screenshot
    }
    Shift+Print repeat=false {
        screenshot-window
    }
    Super+Return hotkey-overlay-title="Open fuzzel" repeat=false {
        spawn "fuzzel"
    }
    Super+Equal {
        set-column-width "+5%"
    }
    Super+Shift+Equal {
        set-window-height "+5%"
    }
    Super+Minus {
        set-column-width "-5%"
    }
    Super+Shift+Minus {
        set-window-height "-5%"
    }
    Super+Tab repeat=false {
        switch-focus-between-floating-and-tiling
    }
    Super+Q repeat=false {
        close-window
    }
    Super+T hotkey-overlay-title="Open terminal" repeat=false {
        spawn "kitty" "-1"
    }
    Super+W hotkey-overlay-title="Open browser" repeat=false {
        spawn "brave"
    }
    Super+I repeat=false {
        toggle-column-tabbed-display
    }
    Super+O repeat=false {
        toggle-overview
    }
    Super+F repeat=false {
        toggle-window-floating
    }
    Super+Z repeat=false {
        maximize-window-to-edges
    }
    Super+Shift+Z repeat=false {
        fullscreen-window
    }
    Super+C {
        center-column
    }
    Super+M repeat=false {
        maximize-column
    }
    Super+Shift+Slash repeat=false {
        show-hotkey-overlay
    }
    Super+H {
        focus-column-left
    }
    Super+Shift+H {
        move-column-left
    }
    Super+Ctrl+H {
        consume-or-expel-window-left
    }
    Super+J {
        focus-window-down
    }
    Super+Shift+J {
        move-window-down
    }
    Super+K {
        focus-window-up
    }
    Super+Shift+K {
        move-window-up
    }
    Super+L {
        focus-column-right
    }
    Super+Shift+L {
        move-column-right
    }
    Super+Ctrl+L {
        consume-or-expel-window-right
    }
    Super+P {
        focus-workspace-up
    }
    Super+Shift+P {
        move-column-to-workspace-up
    }
    Super+N {
        focus-workspace-down
    }
    Super+Shift+N {
        move-column-to-workspace-down
    }
}
window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}
window-rule {
    default-column-width {
        proportion 0.5
    }
}
